.navWrap{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(61, 57, 56);
}

.navWrap a{
text-decoration: none;
color: rgb(217, 233, 68);
font-size: 20px;
font-weight: 600;
}
.navWrap a:hover{
    color: rgb(164, 167, 174);
}